--allman false
--binarygrouping none
--closingparen balanced
--commas always
--conflictmarkers reject
--decimalgrouping none
--disable redundantReturn
--elseposition same-line
--empty void
--exclude Example/Pods
--exclude Package.swift
--exclude ObjCExample
--exponentcase lowercase
--exponentgrouping disabled
--fractiongrouping disabled
--fragment false
--header ignore
--hexgrouping none
--hexliteralcase uppercase
--ifdef outdent
--importgrouping alphabetized
--indent 4
--indentcase false
--linebreaks lf
--maxwidth none
--octalgrouping none
--operatorfunc spaced
--patternlet hoist
--ranges spaced
--self init-only
--selfrequired 
--semicolons never
--stripunusedargs always
--tabwidth unspecified
--trailingclosures 
--trimwhitespace always
--wraparguments before-first
--wrapcollections preserve
--xcodeindentation disabled
